/**
 * @import url(https://static/fonts.googleapis.com/css?family=Inconsolata);
 **/

@font-face {
  font-family: 'DIN';
  font-weight: 300;
  src: url('/static/font/DINWeb-Light.eot');
  src: url('/static/font/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('/static/font/DINWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 400;
  src: url('/static/font/DINWeb.eot');
  src: url('/static/font/DINWeb.eot?#iefix') format('embedded-opentype'),
  url('/static/font/DINWeb.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 500;
  src: url('/static/font/DINWeb-Medium.eot');
  src: url('/static/font/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('/static/font/DINWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 700;
  src: url('/static/font/DINWeb-Bold.eot');
  src: url('/static/font/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('/static/font/DINWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 900;
  src: url('/static/font/DINWeb-Black.eot');
  src: url('/static/font/DINWeb-Black.eot?#iefix') format('embedded-opentype'),
  url('/static/font/DINWeb-Black.woff') format('woff');
}

:root {
  font: normal 300 16px/1.7 'Libre Baskerville', sans-serif;
  background: url('/static/img/hex-bg.svg');
  background-size:15px;
  color: #333;
  padding:0;
  margin:0;
}

body {
  margin:0;
  padding:0;
}

code {
  font-style: italic;
}

pre > code {
  font: normal 300 14px/1.5 'Inconsolata', monospace;
  background-size:15px;
  background: #002b36 url('/static/img/hex-bg.svg');
  border-radius: 0;
  color: #839496;
  display:block;
  font-size:13px;
  overflow-x: auto;
  padding: 2em 1em;
}

.b-layout__banner {
  color: #fff;
  font-size:18px;
  text-transform: uppercase;
  padding:1rem 0;
  font-weight:300;
  background: url('/static/img/hex-bg.svg'),
  url('/static/img/wordmark.svg'),
  linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%),
  linear-gradient(45deg, rgba(173, 9, 193, 0.85) 0%,rgba(0, 255, 196, 0.85) 100%),
  linear-gradient(135deg, rgb(0, 255, 71) 0%,rgb(0, 8, 255) 100%);
  background-size:15px, 700px, auto, auto, auto;
  background-repeat: repeat, no-repeat, repeat;
  background-position: 0 0, 50% 40%, 0 0;
  border-bottom: 3px solid rgba(150, 173, 209, 0.8);
}

.b-layout__banner_wordmark {
  background-size: 60px;
  width:100%;
  height: 60px;
  display:inline-block;
}

.b-layout__banner > .b-layout__container {
  width:700px;
  margin:0 auto;
  text-align:center;
}

a {
  color: #333;
  text-decoration: none;
}

.b-post__body {
  margin-top: 1em;
}

.b-post__body a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid rgba(5, 209, 193, 0.4);
  box-shadow: inset 0 -6px 0 rgba(5, 209, 193, 0.4);
}

.b-post__body a:hover {
  background: rgba(5, 209, 193, 0.4);
  box-shadow: none;
}

.b-post__title a,
.b-layout__banner a {
  font-weight: 600;
  border: none;
  background-color: transparent;
  padding: 0;
}

p {
  margin: 0 0 1em 0;
}

p:last-child {
  margin:0;
}

.b-post {
  position:relative;
  margin:2rem 0;
}

.b-post_excerpt {
  padding:2rem 0;
}

.b-post:last-child {
  border-bottom:none;
}

.b-post__container {
  width:700px;
  margin:0 auto;
  padding:0;
}

.b-post__title {
  font:normal 600 64px/60px 'DIN', sans-serif;
  text-transform:uppercase;
  margin:0;
  padding:0;
}

.b-post__title_subline {
  margin:0;
  padding:0;
  font: italic 300 16px/1.7 'Libre Baskerville', sans-serif;
  text-transform: none;
}


h1, h2, h3 {
  font-family: 'DIN', sans-serif;
  text-transform:uppercase;
}

.b-post__metadata {
  font-family: 'DIN', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  margin:1rem 0 0;
  text-align: right;
  border-top: 1px solid #eee;
  padding-top: 0.6em;
  letter-spacing: 1px;
}

.b-post__metadata p {
  margin:0 0 0.1em;
}
