@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
  font-family: 'DIN';
  font-weight: 300;
  src: url('/font/DINWeb-Light.eot');
  src: url('/font/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 400;
  src: url('/font/DINWeb.eot');
  src: url('/font/DINWeb.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 500;
  src: url('/font/DINWeb-Medium.eot');
  src: url('/font/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 700;
  src: url('/font/DINWeb-Bold.eot');
  src: url('/font/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 900;
  src: url('/font/DINWeb-Black.eot');
  src: url('/font/DINWeb-Black.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Black.woff') format('woff');
}

:root {
  font: normal 400 14px/1.4 'DIN', sans-serif;
  background: #fc673e url('/img/hex-bg.svg');
  background-size:15px;
  color: #002b36;
  padding:60px 0 0 0;
  margin:0;
}

body {
  margin:0;
  padding:0;
}

code {
  font-family: 'Inconsolata', monospace;
  border:1px solid rgba(24, 40, 43, 0.2);
  background-color: #fc673e;
  padding: 0 0.3em 2px;
  border-radius: 3px;
}

pre > code {
  background-color: rgba(24,40,42,1);
  font-size:13px;
  color:#cce5ec;
  display:block;
  padding:1em;
  box-shadow: 0 3px rgba(0,0,0,0.1);
}

.b-layout__content {
  padding:52px 0px;
}

a {
  color:#002b36;
  text-decoration:none;
}

a:hover {
}

p {
  margin: 0 0 1em 0;
}

p:last-child {
  margin:0;
}

.b-post {
  width:700px;
  margin:5rem auto;
}

.b-heading__title {
  font:normal 500 64px/64px 'DIN', sans-serif;
  text-transform:uppercase;
  margin:0 0 1rem;
  padding:0;
  text-shadow: 0 4px rgba(0,0,0,0.1);
}

.b-post__datetime {
  font-size:11px;
  text-transform:uppercase;
  margin-bottom:1rem;
}

.b-tags {
  margin:1rem 0;
  font-size:11px;
}

.b-tags__tag {
  text-transform:uppercase;
}

.b-metadata {
  font-size:11px;
  text-transform:uppercase;
  margin:1rem 0 0;
}

.b-metadata p {
  margin:0;
}
