@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
  font-family: 'DIN';
  font-weight: 300;
  src: url('/font/DINWeb-Light.eot');
  src: url('/font/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 400;
  src: url('/font/DINWeb.eot');
  src: url('/font/DINWeb.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 500;
  src: url('/font/DINWeb-Medium.eot');
  src: url('/font/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 700;
  src: url('/font/DINWeb-Bold.eot');
  src: url('/font/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DIN';
  font-weight: 900;
  src: url('/font/DINWeb-Black.eot');
  src: url('/font/DINWeb-Black.eot?#iefix') format('embedded-opentype'),
  url('/font/DINWeb-Black.woff') format('woff');
}

/** begin svg **/
.svg-nav {
  fill: #18282b;
  stroke: #5dd6ea;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.svg-nav_active {
}

.b-nav__item_active .svg-nav {
  fill: #cce5ec;
  stroke: #5dd6ea;
}
/** end svg **/

.b-nav {
  color:#cce5ec;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-nav__item {
  display:block;
  float:left;
  padding:0;
  margin:0;
  line-height:11px;
}


:root {
  font: normal 400 16px/1.4 'DIN', sans-serif;
  background: #fc673e url('/img/hex-bg.svg');
  background-size:15px;
  color: #12191a;
  padding:60px 0 0 0;
  margin:0;
}

body {
  margin:0;
  padding:0;
}

code {
  font-family: 'Inconsolata', monospace;
  border:1px solid rgba(24, 40, 43, 0.2);
  background-color: #fc673e;
  padding: 0 0.3em 2px;
  border-radius: 3px;
}

pre > code {
  background-color: rgba(24,40,42,1);
  font-size:13px;
  color:#cce5ec;
  display:block;
  padding:1em;
  box-shadow: 0 3px rgba(0,0,0,0.1);
}

.b-layout__head {
  padding:10px 40px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:30px;
  background-color:#18282b;
}

.b-layout__content {
  padding:52px 0px;
}

.b-layout__foot {
}

a {
  color: #12191a;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

p {
  margin: 0 0 1em 0;
}

p:last-child {
  margin:0;
}

.b-heading__title {
  font:normal 900 64px/1 'DIN', sans-serif;
  text-transform:uppercase;
  color:#18282b;
  margin:0;
  padding:0;
  text-shadow: 0 4px rgba(0,0,0,0.1);
}

.b-post {
  width:700px;
  margin:3rem auto;
}

.b-post:first-child {
  margin:0 auto 3rem auto;
}

.b-post::after {
}

.b-post__datetime {
  font-size:11px;
  text-transform:uppercase;
  margin-bottom:1rem;
}

.b-post__wordcount {
  font-size:11px;
}

.b-tags {
  margin:2em 0;
}

.b-tags__tag {
  line-height:1;
  font-weight:200;
  padding: 0.3em 0.9em 0.2em;
  border-radius:3px;
  border:1px solid rgba(24, 40, 43, 0.2);
  background-color: #fc673e;
  text-transform:uppercase;
}

.b-tags__tag::before {
  content:'#'
}

.b-hero {
  margin: 0 auto;
}

.b-hero > img {
  opacity:0.6;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
