<div class="b-post b-post_excerpt">
  <div class="b-post__container">
    {% if post.path %}
    <h1 class="b-post__title"><a href="/{{ post.path }}">{{ post.title }}</a></h1>
    {% else %}
    <h1 class="b-post__title">{{ post.title }}</h1>
    {% endif %}
    {% if post.subline %}
    <h2 class="b-post__title_subline">{{ post.subline }}</h2>
    {% endif %}
    <div class="b-post__metadata">Published <span class="b-datetime_relative">{{ post.publishedDate }}</span>; <span class="b-datetime">{{ format(parseISO(post.publishedDate), 'PPpp') }}</span>
    </div>
  </div>
</div>
