<!doctype html>
<title>{{ site.title }}{% if title %}| {{ title }}{% endif %}</title>
<meta charset="utf8">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
<link href="/static/css/all.css" rel="stylesheet">
<div class="b-layout__banner">
  <div class="b-layout__container">
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="-279 280.5 60 60">
      <path fill="#002B36" d="M-249,282.5c-15.464,0-28,12.535-28,27.999c0,15.466,12.536,28.001,28,28.001c15.465,0,28-12.535,28-28.001
        C-221,295.035-233.535,282.5-249,282.5z M-252,326.5l2-14h-6l3-15h11l-4,14h5L-252,326.5z"/>
  </a>
  </div>
</div>
<div class="b-layout__content">
  {% block content %}
  <div class="b-post b-post_excerpt">
    <div class="b-post__container">
      {% if path %}
      <h1 class="b-post__title"><a href="/{{ path }}">{{ title }}</a></h1>
      {% else %}
      <h1 class="b-post__title">{{ title }}</h1>
      {% endif %}
      <div class="b-post__body">
        {{ contents | safe }}
      </div>
      <div class="b-post__metadata">
        <p>Posted <span class="b-datetime_relative">{{ moment(publishedDate).format('x') }}</span> | <span class="b-datetime">{{ moment(publishedDate, 'YYYY-MM-DD HH:mm').format("ll") }}</span></p>
        <p>Submit issues or pull requests against the source for <a href="{{ sourceURL }}">this file on Github.</a></p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>

<script src="/static/js/lib/moment.min.js"></script>
<script src="/static/js/datetime.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23153631-1', 'auto');
  ga('send', 'pageview');

</script>
