<!doctype html>
<html lang="en">
<title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<link rel="manifest" href="/manifest.json">
<link rel="icon" type="image/png" href="/static/img/favicon.png">
<link href="/static/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
<div class="b-layout__banner">
  <div class="b-layout__container">
    <a class="b-layout__banner_wordmark" href="/">carisenda</a>
  </div>
</div>
<div class="b-layout__content">
  {% block content %}
  <div class="b-post b-post_excerpt">
    <div class="b-post__container">
      {% if path %}
      <h1 class="b-post__title"><a href="/{{ path }}">{{ title }}</a></h1>
      {% else %}
      <h1 class="b-post__title">{{ title }}</h1>
      {% endif %}
      {% if subline %}
      <h2 class="b-post__title_subline">{{ subline }}</h2>
      {% endif %}
      <div class="b-post__body">
        {{ contents | safe }}
      </div>
      <div class="b-post__metadata">
        <p>Published <span class="b-datetime_relative">{{ moment(publishedDate).format('x') }}</span>, <span class="b-datetime">{{ moment(publishedDate, 'YYYY-MM-DD HH:mm').format("ll") }}</span></p>
        <p><a href="{{ sourceURL }}"><img src="/static/img/github.svg" width="16" height="16" alt="View source on Github"/></a></p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
<div class="b-layout__footer">
  <div class="b-layout__container">

    <p><i>Absit iniuria verbis</i></p>
    <p>Last build: {{ revno }}, <span class="b-datetime_relative">{{ moment(build_date).format('x') }}</span>,
    {{ build_date_formatted }}
  </p>
  </div>
</div>

<script src="{{ webpack["main.js"] }}"></script>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker
    .register('{{ webpack["pwa.js"] }}', { scope: '/' })
      .then(() => {
        console.log("Service Worker Registered");
      })
      .catch((error) => {
        console.log('Registration failed with ' + error);
      });
  }
</script>
</html>
